.font-bold {
    font-weight: bold;
}

.default-color-svg {
    filter: hue-rotate(-60deg);
}

.w-image {
    width: 360px;
}

section#skills .skills .container h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
    color: #F9F9F9;
    font-weight: 600;
    margin-bottom: 5rem;
}

section#skills .skills .container .cards {
    margin-bottom: 10rem;
}

header .container .toggle {
    align-items: center;
}

html body .translateGeneral {
    display: none;
}

header .container .toggle .label {
    margin-right: 2rem;
    height: 2rem;
}

.currency-switcher {
    position: relative;
    margin: 0 auto;
    width: 130px;
}

div.dropdown {
    position: relative;
    width: 130px;
}

div.dropdown:after {
    content: "";
    position: absolute;
    margin: 0;
    width: 16px;
    height: 17px;
    background-image: url('/assets/down-chevron.svg');
    top: 15px;
    right: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}

div.dropdown.open:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


div.dropdown>div.caption {
    background: #F8F9FB;
    border-radius: 12px;
    cursor: pointer;
    padding: 12.5px 15px 12.5px 60px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.3px;
    font-family: 'Poppins', sans-serif;
}

div.dropdown>div.list {
    position: absolute;
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 12px 24px rgba(21, 18, 51, 0.13);
    box-shadow: 0px 12px 24px rgba(21, 18, 51, 0.13);
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    top: 52px;
    z-index: -1;
    visibility: hidden;
    padding: 10px 0;
}

.modal .links a[enable=false] {
    pointer-events: none;
    background-image: linear-gradient(90deg, rgb(75 87 92 / 80%) .2%, rgb(116 129 135 / 65%) 100%);
}

div.dropdown.open>div.list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

div.dropdown>div.list>div.item {
    padding: 10.5px 15px 10.5px 62px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.3px;
    font-family: 'Poppins', sans-serif;
}

div.dropdown>div.list>div.item.selected {
    background: rgba(36, 60, 187, 0.2);
    pointer-events: none;
}

div.dropdown>div.list>div.item:hover {
    background: #F8F9FB;
}

div.dropdown>div.caption img,
div.dropdown>div.list>div.item img,
div.dropdown>div.caption svg,
div.dropdown>div.list>div.item svg {
    position: absolute;
    margin-top: 2.5px;
    left: 15px;
}

div.dropdown>div.list>div.item span,
div.dropdown>div.caption span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #243CBB;
    position: absolute;
    right: 36px;
    font-family: 'Poppins', sans-serif;
}

div.dropdown>div.list>div.item span {
    right: 20px;
}

/* section#projects .container .cards-projects .box .cover>img {
    width: 100%
} */

@media (max-width: 800px) {
    header .container .toggle {
        margin-top: 20px;
    }
    
    section#projects .container .cards-projects .box .cover img {
        width: 100% !important;
        height: auto !important;
    }
}